h1 {
    color: white;
    font-family:sans-serif;
    text-align: center;
}
body {
    background:black;
    text-align:center
}
li {
    color: white;
    font-family: sans-serif;
    text-align:center
}
p {
    color: white;
    font-family: sans-serif;
    text-align: center;
}