h1 {
    color:seashell;
    font-family:sans-serif;
    text-align: center;
}
body {
    background:tan;
    text-align:center
}
li {
    color:seashell;
    font-family: sans-serif;
    text-align:center
}
p {
    color:seashell;
    font-family: sans-serif;
    text-align: center;
}