h1 {
    color:mediumvioletred;
    size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color:slategrey
}
a{
    color:lightskyblue
}
h2 {
    color:mediumpurple;
    size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color:seashell;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}